.box{
    position: relative;
    height: 40%;
    width: 26%;
/*     background-color: aqua; */
    margin: 20px;
    border-radius: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;

    animation-name: animate;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}
@keyframes animate {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
  }
  @keyframes animate2 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
  }
.box:hover{
    transform: scale(1.12);
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.096);
    cursor: default;
}
.blured_background{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(8px);
    z-index: 150;
    border-radius: 1rem;
}
.info_container{
    font-family: Montserrat;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
    color: rgba(255, 255, 255, 0.829);
}
.top_container{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
    height: 15%;
}
.city_name{
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    
}
.close_button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 85%;
    height: 1.5rem;
    width: 1.5rem;
    background: none;
    border: none;
    outline: none;
    color: #bb0000;
    transition: transform 0.2s;
}
.close_button:hover{
    transform: scale(1.4);
    cursor: pointer;
}
.close_icon{
    height: 1.6rem;
    width: 1.6rem;
    filter: drop-shadow(0 0 2rem rgb(3, 3, 3));
}
.bottom_container{
    display: flex;
    flex-direction: row;
    height: 85%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    width: 100%;
}
.temp_container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.icon_container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.each_temp_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.max{
    margin-top: 1rem;
    color: #ff4d4d;
    font-weight: 900;
    text-shadow: 0 0 0.3rem black;
}
.min{
    margin-top: 1rem;
    color: #99ccff;
    text-shadow: 0 0 0.3rem black;
}
.img{
    filter: drop-shadow(0 0 0.75rem rgba(3, 3, 3, 0.692));
}