.box{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 78%;
    width: 90%;
    z-index: 100;
}